<div class="row-fluid">
  <div class="span7">
    
    

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal well"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
      <legend>Sign Up</legend>

      <%= f.input :first_name %>

      <%= f.input :last_name %>

      <%= f.input :profile_name %>

      <%= f.input :email %>

      <%= f.input :password %>

      <%= f.input :password_confirmation%>

    <div class="form-actions">
      <%= f.button :submit, "Create Account" %>
    </div>

    </fieldset>
    <% end %>
  </div>

  <div class="span5">
    <h2>Create an account and start investing!</h2>
  </div>

</div>

<%= render "devise/shared/links" %>
