<div class="container">
  <div class="page-header">
    <h1>Create A New Project</h1>
  </div>
  
  <%= simple_form_for @project, :url => projects_path, :html => { :multipart => true} do |f| %>


    <%= f.input :project_name %>
    <%= f.input :project_cost %>
    <%= f.file_field :avatar %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>