<div class="container">
	<div class="page-header">
	  <h1>Active Projects</h1>
	</div>

	<div class="row">
		<ul class="thumbnails">
			<% @projects.each do |project| %>
				<li class="span4">
					<div class="thumbnail">
						<%= image_tag project.avatar(:medium) %>
					</div>
					<div class="caption">
		  				<h3><%= link_to project.project_name, project %></h3>
		  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  			</div>
		  			<div class="index-funding">
			  			<div class="progress">
							<div class="bar" style="width: <%= project.percent_funded %>%;"></div>
						</div>
						<div class="index-funding-percent">
				  			<strong>34<%= project.percent_funded %>%</strong>
				  			<p>FUNDED</p>
				  		</div>
				  		<div class="index-funding-total">
				  			<strong>$15000<%= project.funded %></strong>
				  			<p>INVESTED</p>
				  		</div>
				  		<div class="index-funding-savings">
				  			<strong>6.5<%= project.funded %>%</strong>
				  			<p>EST. RETURN</p>
				  		</div>
		  			</div>
		  		</li>
	  		<% end %>
	  	</ul>
	  	<div class="span3">
	  	</div> 
	
	</div>
</div>

