<div class="container">

<% if current_user.try(:admin?) %>
  <div class="page-header">
    <h1>All Funding</h1>
  </div>

  <% @project_fundings.each do |funding| %>
      <% investment = funding.investment %>
      <div id="<%= dom_id(funding) %>" class="friend row">
        <div class="span7">
          <% if funding.pending? %>
              <h2>Funding Pending</h2>
              <h4><%= investment.project_name %></h4>  
              <h4><%= funding.total_investment %></h4>              
                  <%= form_for @project_fundings, url: accept_project_funding_path(funding.id), method: :put do |form| %>
                  <%= submit_tag "Approve" %>             
                  <% end %>
          <% end %>
          <% if funding.accepted? %>
              <h2>Funding Approved</h2>
              <h4><%= investment.project_name %></h4>  
          <% end %>
        </div>
      </div>
  <% end %>

<% else %>

  <div class="page-header">
    <h1>Your Investments</h1>
  </div>

  <% @project_fundings.each do |funding| %>
    <% investment = funding.investment %>
    <div id="<%= dom_id(funding) %>" class="friend row">
    
        <div class="span7">
          <h2>Pending Investments</h2>
            <% if funding.pending? %>
            <div style="height: 100px;">
              <div class="index-thumbnail" style="float: left;">
                <%= image_tag investment.avatar.url(:small) %>
              </div>
              <div class="index-description">
                <strong><%= investment.project_name %></strong><br />
              </div>
            </div>
            <% end %>
          <h2>Registered Investments</h2>
            <% if funding.accepted? %>
              <strong><%= investment.project_name %></strong><br />
              <%= investment.updated_at %>
            <% end %>
        </div>
 
    </div>
  <% end %>

<% end %>

</div>