<div class="container">


  <div class="page-header">
    <h1>Your Investments</h1>
  </div>

 <div class="investments-index-intro">
    <p><strong>In Progress Investments</strong> are cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <p><strong>Completed Investments</strong> are cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</div>

<div class="row">
  <div class="span11">
    <h2>Funding In Progress</h2>
      <% @project_fundings.each do |funding| %>
        <% investment = funding.investment %>
          <% if investment.inprogress? %>
            <table class="table">
              <h3 class="text-info"><%= investment.project_name %></h3>
              <tr>
                <td><strong>Investment Value:</strong></td>
                <td><strong>Current Status:</strong></td>
                <td><strong>Percent Funded:</strong></td>
                <td><strong>Operational Date:</strong></td>
                <td><strong>Loan Duration:</strong></td>
              </tr>
              <tr>
                <td><%= number_to_currency(funding.funding_offered, :precision => 0) %></td>
                <td>In Progress</td>
                <td><%= number_to_percentage(investment.percent_funded, :precision => 0) %></td>
                <td><%= investment.project_opdate %></td>
                <td>60 months</td>
              </tr>
            </table>            
          <% end %>
      <% end %>
  </div>
</div>

  <h2>Funding Completed</h2>
    <% @project_fundings.each do |funding| %>
      <% investment = funding.investment %>
        <div class="span7">
          <% if investment.completed? %>
              <h2>Completed Investments</h2>
              <table class="table">
                  <h3 class="info-text"><%= investment.project_name %></h3>
                  <tr>
                    <td><strong>Your Investment:</strong></td>
                    <td><strong>Current Status:</strong></td>
                    <td><strong>Percent Funded:</strong></td>
                    <td><strong>Estimated Monthly Payment:</strong></td>
                    <td><strong>Operational Date:</strong></td>
                    <td><strong>Loan Duration:</strong></td>
                  </tr>
                  <tr>
                    <td><%= funding.funding_offered %></td>
                    <td>Partially Funded</td>
                    <td>88%</td>
                    <td>$20</td>
                    <td>March 12, 1934</td>
                    <td>60 months</td>
                  </tr>
                </table>
          <% end %>
        </div> 
    <% end %>
</div>