<% if @project %>
	<h1><%= @project.project_name %></h1
	<p>Do you really want to invest $100 in <%= @project.project_name %>?</p>

	<%= form_for @project_fundings, method: :post do |form| %>
		<div class="form form-actions">
			<%= form.hidden_field :project_id, value: @project.project_name %>
			<%= submit_tag "Yes, invest", class: 'btn btn-primary' %>
			<%= link_to "Cancel", project_path(@project), class: 'btn' %>
		</div>
	<% end %>
<% end %>